
<!DOCTYPE html>
<html>
<head>
  <title>永遠に消えない掲示板</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">永遠に消すことの出来ない恐怖の掲示板。</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
    
<div class="panel panel-success">
  <div class="panel-heading">
    過去ログ
  </div>
  <div class="panel-body">
      <% @messages.each do |message| %>

      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
    </div>
  </div>


<%= form_for(Message.new) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>名前:<br>
  <%= f.text_field :name, :size=>"60" %>
  <br> <br>
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>コメント:<br>
  <%= f.text_area :body, :size=>"60", :rows=>"10" %><br>

  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>

  </div>
  
  
</body>
</html>