    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">永遠に消すことの出来ない恐怖の掲示板。</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
    
<div class="panel panel-success">
  <div class="panel-heading">
    過去ログ
  </div>
  <div class="panel-body">
      <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      (<%= link_to "編集",edit_message_path(message) %>
       <%= link_to "削除",message,method: :delete,data:{confirm:'削除してもよろしいでしょうか？'} %>)
      <br>
    <% end %>
    </div>
  </div>
  
  <% #部品テンプレートを読み込んでいる %>
  <%=render 'form' %>

  </div>